<!DOCTYPE html>
<html>
  <head>
    <title>My Spectacular Dev Skills!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Spectacular Dev Skills!</h1>
    <a href="/skills">My Amazing, Beautiful, Outstanding Dev Skills</a>
  </body>
</html>
